hr {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid gray;
}

.recommendation-title {
    text-align: center;
    margin-top: 15px;
}

.recommendation-wrapper {
    display: inline-block;
}

.card {
    /* height: 375px; */
    margin-bottom: 10px;
}

.card-title {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.card-text {
    font-size: 12px;
    text-align: center;
}